useDynLib(RBCorrection, .registration = TRUE)
export(MRBEE_UV_Winner)
export(MRBEE_Winner)
export(RB_MVJoint_Plink)
export(RB_MV_Joint)
export(RB_UV_Analytic)
export(RB_UV_Joint)
export(RB_UV_Plink_Joint)
export(RaoBlackwellCorrect_R)
export(RaoBlackwellCorrect_UV_R)
import(CppMatrix)
importFrom(CppMatrix,matrixVectorMultiply)
importFrom(MASS,mvrnorm)
importFrom(MASS,rlm)
importFrom(abind,abind)
importFrom(data.table,fread)
importFrom(data.table,fwrite)
importFrom(stats,dnorm)
importFrom(stats,pnorm)
importFrom(stats,qchisq)
importFrom(stats,rnorm)
