useDynLib(RBCorrection, .registration = TRUE)
export(GRAPPLE_BBC)
export(MRBEE_BBC)
export(MRBEE_IMRP_UV)
export(MRBEE_UV_BBC)
export(MRRAPS_BBC)
export(MRcML_BBC)
export(MRcML_UV_BBC)
export(RB_UV_Analytic)
export(RaoBlackwellCorrect)
import(CppMatrix)
importFrom(MASS,rlm)
importFrom(abind,abind)
